@import url('../../fonts/Sora/Sora.css');

$fontFamily-1: 'Sora', Arial, Helvetica;

$maxWidthContent: 1280px;
$minHeightHeader: 103px;
$minHeightFooter: 120px;

$fontSize-1: 14px;
$fontSize-2: 16px;
$fontSize-3: 20px;
$fontSize-4: 24px;
$fontSize-5: 36px;
$fontSize-6: 48px;
$fontSize-7: 56px;
$fontSize-8: 64px;
$fontSize-9: 96px;

$color-1: white;
$color-2: #7e8bb6;
$color-3: #162044;
$color-4: #273464;
$color-5: #070e27;
$color-6: #f4f7ff;
$color-7: #ccd2e9;

$bgColor-1: #98a6c7;
$bgColor-2: #0059f7;
$bgColor-3: #689eff;
$bgColor-4: #081131;
$bgColor-5: #4e5a85;
