.block-title {
  margin-bottom: 95px;

  &__text {
    font-weight: 500;
    font-size: $fontSize-3;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-2;
    text-align: center;
    margin-bottom: 5px;
  }

  &__title {
    font-weight: 600;
    font-size: $fontSize-6;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: $color-4;
    text-align: center;
  }
}
